* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background:linear-gradient(to right,#eef2ff,#ffffff);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px 4px;
    background-color: black;
    color: rgb(255, 255, 255);
    border-style: double;
}
.hero{
display:flex;
align-items:center;
justify-content:center;
padding:60px;
background:linear-gradient(to right,#eef2ff,#ffffff);
}
.hero-txt h1{
font-size: 36px;
color: #333;
}
.hero-txt{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}
.main{
padding: 20px;
display: flex;
width: 50%;
}

button{
padding:12px 22px;
border:none;
cursor:pointer;
font-size:16px;
border-radius:5px;
}

.hero-image img {
  width:50px;
  height:auto;
  justify-items: left;
  
}
.hero-text{
    text-align:start;
    align-items: left;
    margin-left: .5%;
    
    
}
.nav-links{
    list-style: none;
    display: flex;
    gap:10px;
    justify-content: flex-end;
    margin-left: auto;
    font-family: 'Times New Roman', Times, serif;
    
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: black;
}
.login-btn{
    padding: 8px 16px;
    background:linear-gradient(to right,#eef2ff,#ffffff);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.head{
    justify-self: center;   

}
.primary{
    background:#4f46e5;
    color:white;
}

.secondary{
    background:#e5e7eb;
}


@media (max-width:768px){

.hero{
flex-direction:column;
text-align:center;
}

.hero-image img{
width:50px;
margin-top:20px;
}

.buttons{
justify-content:center;
}
.nav-links{
    flex-direction:column;
    gap:5px;
    margin-top:10px;

}
}